<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3l6Qw2eLwH81u0Cx1Bgw32x6OOTQ1KzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>992276312728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeforany.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>delivery-app-65a19</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-app-65a19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992276312728:ios:53b65114ba3ed82b0016ed</string>
</dict>
</plist>